

.text-color-primary {
    color: rgb(80, 47, 10) !important;
}

.reveal-from-right *{
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  animation: 3s custom;
  background-image: url ('/images/plant.jpg');
}

p.text-sm {
  background-color:rgb(80, 47, 10);
  color:rgb(188, 165, 143);
  border: 13px solid rgb(156, 79, 79);
  padding: 10px;
  border-radius: 5px;
  font-family: initial;
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 2px;
  width: 345px;
  height: 200px; 
  transform: rotate(360deg);
  /* background-image: url('/images/plant.jpg'); */
}
.container-xs {
  font-family:initial;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tiles-wrap {
  background-color: rgb(160, 101, 53);
}
.acorn {
  display: none !important;
}
.tiles-item:nth-of-type(1) .testimonial-item-content p {
  background-color: transparent;
  border: transparent;
  background-image: url('/portfolio/images/art3.jpg') !important;
  background-size: 7em 110%;
  background-repeat: no-repeat;
}

.tiles-item:nth-of-type(2) .testimonial-item-content p {
  background-image: url('/portfolio/images/art2.jpg') !important; 
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  
}
.tiles-item:nth-of-type(3) .testimonial-item-content p {
  background-image: url('/portfolio/images/art1.jpg');
  background-size: 7em 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}
.chandler-is-awesome {
  /* width: 33vw; */
  height:100vh;

  color: rgb(1, 27, 1);
  background-color: rgb(188, 165, 143);
  border: 75px solid; 
  border-image: url('/portfolio/images/cow.png')250 fill;
}
.cool-c {
  background-color: rgb(245, 238, 241);
  font-family: 'Times New Roman', Times, serif;
}
.last-minute {
   background-color: rgb(158, 157, 157);
}
.zendaya {
  background-color: rgb(245, 238, 241);
}
.ticket {
  background-color: rgb(126, 125, 125);
}
.play {
  background-color: rgb(245, 238, 241);
}
#penguin {
  background-color: rgb(95, 95, 95);
}
.img-star {
  height: 350px;
  width: auto;
  
  background-size: contain;
  background-repeat: repeat-x;
  /* background-color: #000; */
  background-image: url('/portfolio/images/throwback.jpg');
}
.fear {
  background-color: rgb(245, 238, 241);
}
.sing {
  background-color: rgb(82, 81, 81);
}
.nav {
  background-color: rgb(245, 238, 241) !important;
}

.banner {
  height: 33.33vh;
  font-size: 35px;
  color: bisque;
  font-weight: 900;
  text-align: center;
  background-color: #b6743f;
  background-image: url('/portfolio/images/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  /* background-color: rgb(99, 76, 64); */
  font-size: 30px;
  text-align: center;
  color: beige;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav {
  display: flex; 
  justify-content: space-evenly;
}

.childhood {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.email {
  background-size: 30%;
}
.questions {
  font-size: 25px;
  text-align: center;
  color: beige;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.art-pic {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;

}
.fort-worth {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: contain;
}

.content {
  font-family: Georgia, 'Times New Roman', Times, serif;

  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  background-color: beige;
}
.caption-two {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  background-color: beige;
}
.caption-three {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  background-color: beige;
}
.youtuber {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  background-color: beige;
}
.photography {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 4rem solid transparent;
  border-width: 0 75px 75px 75px;
  object-fit: contain;
}

.nature {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 7rem solid transparent;
  border-width: 0 140px 140px 140px;
  object-fit: contain;
}
.painting {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3rem solid transparent;
  border-width: 0 75px 75px 75px;
  object-fit: contain;
}