* {
/* background-color: #222 !important;  */
/* color: #222 !important; */
}

h1 {
/* color: #00f !important;  */
}

.text-color-primary {
    color: rgb(80, 47, 10) !important;
}

.reveal-from-right *{
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  animation: 3s custom;
  background-image: url ('/images/plant.jpg');
}

p.text-sm {
  background-color:rgb(80, 47, 10);
  color:rgb(188, 165, 143);
  border: 13px solid rgb(156, 79, 79);
  padding: 10px;
  border-radius: 5px;
  font-family: initial;
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 2px;
  width: 345px;
  height: 200px; 
  transform: rotate(360deg);
  /* background-image: url('/images/plant.jpg'); */
}
.container-xs {
  font-family:initial;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.tiles-wrap {
  background-color: rgb(160, 101, 53);
}

.m-0 {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.tiles-item:nth-of-type(1) .testimonial-item-content p {
  background-color: transparent;
  border: transparent;
  background-image: url('/portfolio/images/art3.jpg') !important;
  background-size: cover; 
  background-position: center; 
  /* transform: rotate(360deg); */

}

.tiles-item:nth-of-type(2) .testimonial-item-content p {
  background-image: url('/portfolio/images/art2.jpg') !important; 
  background-color: transparent;
  border: transparent;
  
}
.tiles-item:nth-of-type(3) .testimonial-item-content p {
  background-color: transparent;
  border: transparent;
}